/* GLOBAL STYLES START */
* {
    box-sizing: border-box;
}
/* GLOBAL STYLES END */

/* TEMPLATE STYLES START */
.template-title {
    margin-left: 1rem;
}

.template-container {
    min-height: 250px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 10px;
}
/* TEMPLATE STYLES END */

/* WIDGET STYLES START */
.widget-container {
    display: flex;
    flex-direction: column;
}

.widget-container label {
    margin-bottom: 0.5rem;
}

.widget-container input {
    margin-left: 0.5rem;
}
/* WIDGET STYLES END */
