/* GLOBAL STYLES START */
* {
    box-sizing: border-box;
}
/* GLOBAL STYLES END */

/* TEMPLATE STYLES START */
.template-title {
    margin-left: 1rem;
}

.template-container {
    min-height: 250px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 10px;
}
/* TEMPLATE STYLES END */

/* WIDGET STYLES START */
.accordion-section {
    display: flex;
    flex-direction: column;
}

.accordion-btn {
    background-color: white;
    border: 1px solid grey;
    padding: 0.5rem;
    display: flex;
    justify-content: start;
    font-weight: bold;
    position: relative;
    background-color: lightgrey;
    cursor: pointer;
}

.accordion-btn:after {
    content: "+";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
    width: 1rem;
    font-size: 1.25rem;
}

.accordion-btn.--open:after {
    content: "-";
}

.accordion-panel {
    padding-left: 0.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}

.accordion-panel.--open {
    max-height: 100%;
}
/* WIDGET STYLES END */
