/* GLOBAL STYLES START */
* {
    box-sizing: border-box;
}
/* GLOBAL STYLES END */

/* TEMPLATE STYLES START */
.template-title {
    margin-left: 1rem;
}

.template-container {
    min-height: 250px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 10px;
}
/* TEMPLATE STYLES END */

/* WIDGET STYLES START */
.widget-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.widget-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 1rem;
    width: 500px;
    height: 350px;
    font-size: 1rem;
    background-color: aquamarine;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.widget-modal.--open {
    opacity: 1;
}
/* WIDGET STYLES END */
